n8n/workflow.json
{
  "name": "trend-radar Collection Orchestrator",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -760,
        -120
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -760,
        60
      ],
      "parameters": {}
    },
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "onError": "continueRegularOutput",
      "position": [
        -760,
        240
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "trend-radar/run-once",
        "authentication": "none",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      }
    },
    {
      "id": "normalize-inputs",
      "name": "Normalize Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueRegularOutput",
      "position": [
        -420,
        60
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first()?.json ?? {};\nconst body = item.body ?? {};\nconst query = item.query ?? {};\nconst projectDir = body.project_dir ?? query.project_dir ?? 'D:\\\\workspace\\\\trend-radar';\nconst launcher = body.launcher ?? query.launcher ?? 'python -m trend_radar';\nconst outputDir = body.output_dir ?? query.output_dir ?? '';\nconst source = body.source ?? query.source ?? '';\nconst configPath = body.config_path ?? query.config_path ?? '';\nconst escapeForCmd = (value) => String(value).replace(/\"/g, '\"\"');\nlet command = `cd /d \"${escapeForCmd(projectDir)}\" && ${launcher}`;\nif (configPath) command += ` --config \"${escapeForCmd(configPath)}\"`;\ncommand += ' run --once';\nif (outputDir) command += ` --output-dir \"${escapeForCmd(outputDir)}\"`;\nif (source) command += ` --source \"${escapeForCmd(source)}\"`;\ncommand += ' --json';\nreturn [{\n  json: {\n    project_dir: projectDir,\n    launcher,\n    output_dir: outputDir || null,\n    source: source || null,\n    config_path: configPath || null,\n    command,\n  },\n}];"
      }
    },
    {
      "id": "execute-command",
      "name": "Run trend-radar",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "executeOnce": true,
      "onError": "continueRegularOutput",
      "position": [
        -80,
        60
      ],
      "parameters": {
        "command": "={{$json.command}}"
      }
    },
    {
      "id": "parse-report",
      "name": "Parse Run Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueRegularOutput",
      "position": [
        240,
        60
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first()?.json ?? {};\nconst stdout = item.stdout ?? '';\nconst stderr = item.stderr ?? '';\nconst exitCode = item.exitCode ?? 0;\nlet payload = {};\ntry {\n  payload = stdout ? JSON.parse(stdout) : {};\n} catch (error) {\n  payload = {\n    status: exitCode === 0 ? 'ok' : 'fail',\n    raw_stdout: stdout,\n    parse_error: error.message,\n  };\n}\nreturn [{\n  json: {\n    ...payload,\n    exit_code: exitCode,\n    stderr,\n    raw_stdout: stdout,\n  },\n}];"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Normalize Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Normalize Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Inputs": {
      "main": [
        [
          {
            "node": "Run trend-radar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run trend-radar": {
      "main": [
        [
          {
            "node": "Parse Run Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "active": false
}
